.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.add-contact {
  color: white;
  font-weight: bold;
  font-size: 34px;
  margin-left: 5px;
  margin-top: 1em;
}

.submit-btn {
  height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 10px;
  color: #00527A;
  font-family: 'JetBrains Mono', Arial;
  font-weight: bold;
  border: none;
  padding: 7px 12px;
  cursor: pointer;
}

.main-container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.form-container {
  background-color: #00527A;
  width: 1200px;
  height: 520px;
  border-radius: 5px;
  padding: 10px;
}

form {
  margin-right: 12px;
  margin-left: 12px;
}

input, .notes-box {
  padding: 20px 14px;
  font-family: 'JetBrains Mono', Arial;
  border: none;
}

select {
  padding: 20px 14px;
  font-family: 'JetBrains Mono', Arial;
  border: none;  
}

.fields-top {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 12px;
}

.fields-bottom {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  gap: 12px;
}

.select-container {
  margin-top: 50px;
}

.notes-box {
  margin-top: 18px;
  height: 14em;
  width: 86em;
}