.wrap-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    height: 90%;
}

.inner-content-container {
    max-width: 1200px;
    min-width: 800px;
    margin-top: 60px;
}
