.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents {
    margin: auto;
    padding-top: 2em;
    margin-top: 3em;
    width: 70%;
}

.list-container {
    height: 80%;
    overflow: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: #00527A;
}

.tabs {
    display: flex;
}

.taller {
    margin-top: -1em;
    background-color: inherit;
}

.darkTab {
    background-color: #00527A;
    padding: 5px 20px 5px 20px;
    color: antiquewhite;
    font-size: 14px;
}

.lightTab {
    background-color: antiquewhite;
    padding: 5px;
    color: #00527A;
    font-size: 14px;
}


