.contents {
    margin: auto;
    width: 90%;
    padding-top: 2em;
    margin-left: 10em;
    margin-top: 3em;
}

.list-container {
    height: 300px;
    overflow-scrolling: auto;
    max-width: 913px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: #00527A;
}

.tabs {
    display: flex;
}

.taller {
    margin-top: -1.5em;
    background-color: inherit;
}

.darkTab {
    background-color: #00527A;
    padding: 5px;
    color: antiquewhite;
}

.lightTab {
    background-color: antiquewhite;
    padding: 5px;
    color: #00527A;
}


