.outer-container {
    height: 70px;
    padding-left: 10px;
    max-width: 1200px;
    background-color: white;
    border: #888888 2px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inner-container {
    max-width:800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.personal-info-container {
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 5px;
    margin-right: 20px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}

.contact {
    flex: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    gap:30px;
}

.icon {
    color:#C3C0C0;
}

.heading {
    color: #00527A;
    text-align: start;
    margin: 0;
}

.text {
    color: gray;
    margin-top: 0;
    margin-bottom: 0;
}
