ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00527A;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 26px 18px;
  text-decoration: none;
}

