nav {
  background-color: #00527A;
}

nav > div {
  display: flex;
  justify-content: space-between;
}

#title {
  margin-left: 1em;
  margin-top: 0.5em;
  color: white;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2em 1.5em;
  text-decoration: none;
}

